main section article{
    background-color: aliceblue;
    border-radius: 1em;
    color: black;
}

main section article p{
    background-color: aliceblue;
}

article h3{
    font-size: 1em;
    color: darkblue;
}

main article img{
    width: 3em;
    height: 3em;
}