/*0,0,1*/
h2{
    text-align: center;
}
/*0,0,1*/
body main section{
    display: flex;
    flex-wrap: wrap;
    background-color: darkblue;
    color: black;
}

body main section h2{
    flex: 1 0 100%;
}
/*0,0,2*/
main article{
    flex: 1 0 21%;
    width: 10em;
    height: 12em;
    margin: 0.2em;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 1em;
}

/*0,1,1*/
article[data-state="flip"] {
    transform: rotateY(180deg);
}
/*0,1,1*/
article[data-state="revealed"] {
    transform: rotateY(180deg);
}
/*0,0,3*/
main article h3,
/*0,0,3*/
body main article img {
    margin: 0em;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1em;
    backface-visibility: hidden;
}
/*0,0,3*/
main article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*0,0,1*/
article img {
    transform: rotateY(180deg);
}
