/****************************
Juan Gómez Tejeda - UO281835

Descripción de los estilos que contiene
*****************************/
body header{
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: center;

}


body header nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    align-self: center;
    padding: 1em;


}
body header nav a{
    display: grid;
    padding: 1em;
}
body{
    display: grid;
    grid-template-columns:auto;
    padding: 10px;
}
body main{
    display: grid;
    grid-template-columns: auto;
    padding: 2em;
}
