/****************************
Juan Gómez Tejeda - UO281835

Descripción de los estilos que contiene
*****************************/


@media (max-width: 500px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 700px) and (max-width: 900px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto auto auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 900px) and (max-width: 1000px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 1400px) {
    body header nav{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto ;
        align-items: center;
        padding: 1em;
    
    }
    body header{
        display: grid;
        grid-template-columns: auto auto auto;
        align-self: center;
    
    }
}


body header nav a{
    display: grid;
    grid-template-columns: 4em;
    padding: 1em;
    align-self: center;
}
body{
    display: grid;
    grid-template-columns:auto;
    padding: 10px;
}
body main{
    display: grid;
    grid-template-columns: auto;
    padding: 2em;
}

body footer{
    display: grid;
    grid-template-columns: auto auto auto;
}
body main section h2,h3,h4,p{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
section form a{
    align-self: center;
    align-content: center;
    align-items: center;
}