/****************************
Juan Gómez Tejeda - UO281835

Descripción de los estilos que contiene
*****************************/


@media (max-width: 400px) {
    body header{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
    body header nav {
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        padding: 1em;
    }
}
@media (min-width: 1200px) {
    body header nav{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto ;
        align-items: center;
        padding: 1em;
    
    }
    body header{
        display: grid;
        grid-template-columns: auto auto auto;
        align-self: center;
    
    }
}


body header nav a{
    display: grid;
    grid-template-columns: 4em;
    padding: 1em;
    align-self: center;
}
body{
    display: grid;
    grid-template-columns:auto;
    padding: 10px;
}
body main{
    display: grid;
    grid-template-columns: auto;
    padding: 2em;
}
